.product-form .btn.btn-default.product-form--atc-button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
	background: #b0b2b3 !important;
	border-color: #b0b2b3 !important;
	padding: 0 55px !important;
}
.product-form .btn.btn-default.product-form--atc-button.shopify-payment-button__button.shopify-payment-button__button--unbranded:hover {
	background: #9b9b9b !important;
	border-color: #9b9b9b !important;
}
.flex-grid__item.flex-grid__item--33.type-sale_collection .promo-grid__content{
  	padding: 20px 5px !important;
}

.mega-menu__link.link {
	font-size: 13px;
}
.promo-grid.promo-grid--space-top.promo-grid--space-bottom .type-sale_collection {
	flex-grow: 0;
}
/* body {
	font-family: inherit !important;
} */
/* .h2 {
	font-family: 'Fjalla One', sans-serif !important;
}
.section-header__title {
	font-family: 'Fjalla One', sans-serif;
} */
.flex-grid__item.flex-grid__item--33.type-simple .promo-grid__text p {
	color: #fff;
	background: #00000026;
}
.flex-grid__item.flex-grid__item--33.type-simple:hover .promo-grid__text p {
	background: #e8531ecf;
}
.flex-grid__item.flex-grid__item--33.type-advanced .rte--block.rte--strong {
	color: #fff;
}
.flex-grid__item.type-sale_collection .rte--block.rte--strong {
	font-size: 25px !important;
}
.type-advanced .promo-grid__content:not(.promo-grid__content--boxed):not(.promo-grid__content--sale)::after, .type-simple .promo-grid__content:not(.promo-grid__content--boxed):not(.promo-grid__content--sale)::after {
	background: radial-gradient(rgba(0, 0, 0, 0.05) 0%, transparent 60%) !important;
	background: radial-gradient(rgba(0,0,0,var(--colorImageOverlayTextShadow)) 0%, transparent 60%);
	margin: -100px -200px -100px -200px;
	z-index: 1;
}
.promo-grid__text .rte--block.rte--strong {
/* 	font-family: 'Fjalla One', sans-serif; */
	letter-spacing: 1px;
}
.flex-grid__item.flex-grid__item--33 .rte--block.rte--strong {
  color:#000;
}
.promo-grid__text .btn {
	letter-spacing: 3px;
	border-radius: 0 !important;
}
.mega-menu__link {
	text-align: left !important;
  padding:2px 0px ;
}

li.mega-menu__item, .mega-menu__title{
margin:0px;
}
.mega-menu__title.heading {
  text-align: left !important;
}
.product-form__add-button.button.button--primary {
	text-transform: uppercase;
	letter-spacing: 3px;
  order:2;
}
.button {
	border-radius: 0;
}
/* .section__title.heading.h3 {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
} */


.footer__title.heading.h6  {
/*   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
font-weight: 600;
font-size: 1rem;
}
#myBtn {
	background: #e8531e;
}
.search-bar__submit svg.icon:not(.icon--full-color) path, .search-bar__submit  svg.icon:not(.icon--full-color) circle{
  stroke: #fff;
  fill: none;
}
.flickity-prev-next-button.next svg, .collection-list .flickity-prev-next-button.previous svg {
	top: 0;
}

.promo-grid__text p {
	margin: 0;
	padding: 4px 15px 5px;
	font-size: 18px !important;
	letter-spacing: 1px;
}
.footer__newsletter-input {
	background-color: #eae3df;
	padding: 10px 10px 14px;
	color: #f58e8e;
	border-radius: 50px;
	border: 1px solid #ef9b7d;
}
.footer__newsletter-input::placeholder {
	color: #eb784f;
	opacity: 1;
}
.footer__newsletter-btn {
	right: 20px;
	color: #050505;
}
.footer__newsletter-input:focus {
	border: 1px solid #ffb89a;
}
/* .site-footer a {
	color: #878585;
}
.footer__collapsible p {
  color: #878585;
} */
.footer__small-text.text-center {
	color: #4b4b4b;
	letter-spacing: 1px;
}
.site-footer {
	background-color: #a87b64;
}
.search-bar__submit:hover {
	background: #ffffff;
}

/* .footer__title {
	color: #6b6a6a;
} */
/* .slider_showw {
	display: inline-block;
	background: #1c1c1c4d;
	padding: 30px 20px;
} */

.grid__image-ratio {
    height: 300px;
}
.grid {
    font-size: inherit;
}
.h2, h2 {
    font-size: 25px !important;
   font-weight:550 !important;
}
[data-aos=background-media-text__animation] .background-media-text__image, [data-aos=background-media-text__animation] .background-media-text__image svg, [data-aos=background-media-text__animation] .background-media-text__video {
    opacity: 1 !important;
}

.footer__link-item{
	padding:0px;
}

@media only screen and (min-width: 769px){
.mega-menu__inner  .mega-menu__column {
	width: 220px;
}
[data-aos=background-media-text__animation] .background-media-text__inner .animation-contents {
    opacity: 1 !important;
}
}
.image-wrap .animate-me, .image-wrap img:not([role=presentation]), .image-wrap svg {
    opacity: 1 !important;
}
@media only screen and (max-width: 767px) {
.collection-list.collction .collection-item {
	padding: 10px 5px;
	min-height: 190px;
}
.header__action-item-link  svg.icon:not(.icon--full-color) path, .header__action-item-link svg.icon:not(.icon--full-color) circle{
  fill: none;
stroke: #fff;
  }

.promo-grid__content.promo-grid__content--boxed.promo-grid__content--framed {
	background: #ffffffd6;
	border: 5px solid #ffffffc7;
	padding: 20px 0px;
	width: 100% !important;
}

}

@media only screen and (max-width: 768px){
[data-aos=overflow__animation] {
    transform: inherit;
    transition: all 0.8s cubic-bezier(.25,.46,.45,.94);
}
}
  
@media only screen and (max-width: 768px){
 .grid-overflow-wrapper.featured1  .grid__item {
	width: 49vw;
	flex: 0 0 49vw;
	display: inline-block;
	float: none;
	white-space: normal;
}
 .grid-overflow-wrapper.featured1  .grid__item.grid__item--view-all.text-center.small--one-half.medium-up--one-quarter.medium-up--hide {
	width: 100%;
	flex: 0 0 95%;
	margin-top: 30px;
}
    .grid-overflow-wrapper.featured1 .grid__item:first-child {
	margin-left: 0;
}
.grid {
    margin: 0px;
}
  .grid__image-ratio {
    height: 150px;
}
}
@media only screen and (max-width: 576px){
.grid-overflow-wrapper .grid__item {
	width: 100% !important;
	flex: 0 0 95% !important;
	display: inline-block;
	float: none;
	white-space: normal;
}
}
.collection-item__title svg {
    display: none;
}
@media screen and (min-width: 641px){
.collection-item__title {
    transform: inherit;
}
}
@media screen and (min-width: 1000px){
.nav-bar {
    text-align:center;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
.flex-grid__item.type-advanced {
    flex: 0 1 33%;
    padding: 0 0 0 3px!important;
}
 .flex-grid__item.flex-grid__item--50.type-advanced {
     flex: 0 1 50%;
    padding: 0 0px 0 5px !important;

}
  .flex-grid__item.flex-grid__item--33.type-image {
    flex: 0 1 33%;
}
.flex-grid__item.flex-grid__item--33.type-sale_collection {
    flex: 0 1 33%;
    padding: 10px 0 0 2px;
}
 .flex-grid.flex-grid--gutters {
    margin-top: -20px;
    margin-left: -10px;
}
  .type-advanced .promo-grid__content {
    padding: 0.5em;
}
  .promo-grid__text .btn {
    letter-spacing: 1px;
    border-radius: 0!important;
    font-size: 12px;
}
  .flex-grid__item.type-sale_collection .rte--block.rte--strong {
    font-size: 20px!important;
}
  .flex-grid__item.type-sale_collection  .promo-grid__container--tint.vertical-center.horizontal-left .rte--block.rte--em {
    font-size: 11px !important;
}
  .flex-grid__item.flex-grid__item--33.type-simple {
    flex: 0 1 33%;
    padding: 0 0 0 3px;
}
}

.mega-menu__column .mega-menu__title img{
	width: 100%;
    display: block;
  	margin-bottom: 10px;
}
.mega-menu__column a.mega-menu__title{
	text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px){
.footer__collapsible {
    padding: 10px 0 10px 0;
}
}

.expandable-content[aria-expanded] {
    position: relative;
    max-height: 320px;
    overflow: hidden;
    transition: .2s ease-in-out;
}
.card__header {
    padding: 10px 30px;
}
.card__collapsible-button, .card__section {
    padding: 10px 30px;
}
.collection-item:not(.collection-item--below):after {
    background: rgba(232, 83, 30, 0.2) !important;
    opacity: 0.4 !important;
}

.price-list {align-items: center !important;}